<nav class="navbar">
        <div class="navbar__logo">
            <i class="fas fa-apple-alt"></i>
            <a href="/">Strwberry</a>
        </div>
        <div class="navbar__menu">
          <li><a href="">Home</a></li>
          <li><a href="">blog</a></li>
          <li><a href="">git</a></li>
          <li><a href="">QnA</a></li>
          <li><a href="">Farm</a></li>
        </div>

        <div class="navbar__icons">
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-facebook"></i></li>
        </div>

        <a href="#" class="navbar__toogleBtn">
            <i class="fas fa-bars"></i>
        </a>

 </nav>
