{% extends 'blog/base.html' %}

{% block content %}

    <div class="main">
        <!--추가버튼-->
    <div class="postnew">
        <a href="{% url 'post:post_new' %}"><i class="fas fa-plus"></i></a>
    </div>
        <table border="1"  align = "center" class="post_table">
            <colgroup>
                <col width="5%">
                <col width="*%">
                <col width="10%">
                <col width="15%">
                <col width="5%">
                <col width="5%">
            </colgroup>
            <tr class="text-center">
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>등록일</th>
            <th>추천</th>
            <th>조회</th>
            {% for post in posts %}
                <tr>
                    <td>{{ post.pk }}</td>
                    <td class="post_table_title"><a class="post-link" href="{% url 'post:post_detail' pk=post.pk %}">{{ post.title }}</a></td>
                    <td>{{ post.author }}</td>
                    <td>{{ post.published_date }}</td>
                    <td>1</td>
                    <td>1</td>
            {% endfor %}
        </table>



    <ul class="paging">
        <!-- 이전페이지 -->
        {% if posts.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.previous_page_number }}"> << </a>
        </li>
        {% endif %}
        <!--이전페이지가 충분하지 않은경우-->
        {% if posts.number > page_size|add:"1" %}
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            <li class="page-item"><span class="page-link" >...</span></li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in page_range %}
            {% if page_number == posts.number%}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if posts.number|add:page_size < max_index %}
            <li class="page-item"><span class="page-link" >...</span></li>
            <li class="page-item"><a class="page-link" href="?page={{ max_index }}">{{ max_index }}</a></li>
        {% endif %}

        {% if posts.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_page_number }}"> >> </a>
        </li>
        {% endif %}
    </ul>
    </div>
{% endblock %}