:root{/*나중에 많아졌을때 한번에 바꾸기 좋음*/
    --text-color:#f0f4f5;
    --background-color:#1987cf;
    --accent-color:#e71f11;
}

body{
    margin:0;/*원하지않는 마진 제거*/
    font-family: 'Langar';
    font-size:25px;
}
.main{
    position: relative;
    width: 90%;
    margin-left:5%;
    margin-right:5%;
    padding: 120px 0 100px;
}

p{
    word-break:break-all;
    text-overflow: ellipsis;
}
/*post 관련*/
.post_table{
    border-collapse:collapse;
    margin:25px 0;
    font-size:15px;
    min-width:400px;
    width: 100%;
}
td{
    text-align:center;
}
td.post_table_title{
    text-align:left;
}
a.post-link{
    text-decoration:none;
}

.post{
    justify-content:center;/*센터로 */
    display: flex;/*행정렬*/
}
.post a{
    color:#123456;
    text-decoration: none;/*밑줄제거*/
}

.post .date{
    font-size:20px;
}

.post_detail{
    margin-left:100px;
    justify-content:center;/*센터로 */
}

.fas fa-plus{
     justify-content:right;/*센터로 */
    display: flex;/*행정렬*/
}


/**/


/*navbar 설정*/
.navbar{/*최상위부터 꾸며야됨*/
    display: flex;/*한줄에 나란히 들어오도록*/
    justify-content: space-between;/*중간중간에 띄워줌*/
    align-items: center;/*반대축이기때문에 align*/
    background-color: var(--background-color);
    padding:8px 12px;/*너무 양옆에 붙어잇어서*/
}


.navbar__logo{
    font-size:24;
    color:var(--text-color);
}

.navbar__logo i{
    color:var(--accent-color);
}

.navbar__menu{
    display: flex;/*한줄로*/
    list-style: none;/*리스트 점 제거*/
    padding-left: 0;/*중간으로*/
}

.navbar__menu li{
    padding:8px 30px;/*마진은 마우스 클릭범위가 좁아지고 padding은 넒어짐*/
}

.navbar__menu li:hover{/*마우스 닿았을때*/
    background-color: orange;
    border-radius: 4px;/*조금 둥글게*/
}

.navbar__icons{
    list-style: none;
    color:var(--text-color);
    display: flex;
    padding-left: 0;/*중간으로*/
}

.navbar__icons li{
    padding:8px 12px;
}

.navbar__toogleBtn{
    display:none;/*화면클때는 안나오게*/
    position:absolute;
    right:32px;
    font-size: 40px;
    color:var(--accent-color);
}

.navbar a{
    text-decoration: none;/*밑줄제거*/
    color:var(--text-color);
    font-size:30px;
}
/*navbar 설정*/

.fa-plus{
    color:#123456;
    float:right;
    font-size:50px;
}
.fa-edit{
    color:#123456;
    float:right;
    font-size:50px;
}

.fa-save {
    float: right;
    font-size:50px;
    background:white;
}


/*paging*/

.paging{
    justify-content:center;/*센터로 */
    display: flex;/*행정렬*/
    list-style: none;/* 리스트의 .을 제거합니다.*/
}

.paging li a{
    color:#111111;/*a 링크 글자는 흰색으로 설정되어 있어서 잘보이게 설정*/
    padding:10px 10px;/*간격*/
}

.paging li a:hover{/*마우스가 닿으면*/
    background-color: orange;/*배경바꾸기*/
    border-radius: 4px;/*조금 둥글게*/
}

.page-item.active .page-link {/*현재 페이지 표시*/
  color: #0000ff;/*현재페이지 파랑색으로 표시*/
}
/*end paging*/



/*모바일 화면*/
@media screen and (max-width:768px){/*화면이작아져서 배치가 깨질때*/
    .navbar{/*작아지면 열로세움*/
        flex-direction:column;
        align-items: flex-start;/*좌로붙이기*/
        padding:8px 24px;
    }

    .navbar__menu{/*메뉴도 다 하나하나씩 떨어지게*/
        display:none;
        flex-direction: column;
        align-items: center;/*메뉴는 가운데로*/
        width:100%;/*설정해줘야 적용됨*/
    }

    .navbar__menu li{
        width: 100%;
        text-align: center;
    }

    .navbar__icons{
        display:none;
        justify-content:center;
        width: 100%;
    }

    .navbar__toogleBtn{
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active{/*active되면 보이게*/
        display:flex;
    }
}