
{% extends 'blog/base.html' %}

{% block content %}

{% if user.is_authenticated %}
    로그인성공!
    {{ user.username}}님 환영합니다.
{% else %}

    <form action="" method="POST">
    {% csrf_token %}
    <input name ="username" type="text">
    <input name ="password" type="password">
    <input type ="submit" value="로그인">
    </form>
    <a href="/accounts/google/login/?process=login">구글로그인</a>
    <a href="/accounts/naver/login/?process=login">네이버로그인</a>


   <a href="{% url 'users:signup' %}">회원가입</a>

{% endif %}

{% endblock %}